.json-reader-container {
  // padding-left: 90px;
  // padding-top: 20px;
  padding: 20px 20px 20px 90px;

  .card {
    background-color: var(--card-bg);
    box-shadow: var(--toc-shadow);
  }

  .file-list-card {
    .file-list-content {
      display: flex;
      flex-shrink: 0;
      flex-flow: row wrap;
      justify-content: left;

      .item {
        margin: 10px;
        span {
          color: blueviolet !important;
        }
      }
    }
  }
}
