.json-reader-container {
  padding: 20px 20px 20px 90px;

  .card {
    background-color: var(--card-bg);
    box-shadow: var(--toc-shadow);
    width: 100%;
  }

  .file-list-card {
    .file-list-content {
      display: flex;
      flex-shrink: 0;
      flex-flow: row wrap;
      justify-content: left;

      .item {
        margin: 10px;
        span {
          color: blueviolet !important;
        }
      }
    }
  }
  .card {
    .mat-expansion-panel {
      background: var(--card-bg);
    }
    .mat-expansion-panel-header-description {
      justify-content: flex-end;
      align-items: center;
      // background-color: transparent;
    }
    .mat-expansion-panel-header-title {
      align-items: center;
      // background-color: transparent;
    }
    .mat-expansion-panel-content {
      background: var(--code-bg);
    }
  }
  .graph-container {
    padding-left: 0;
    padding-right: 0;
    height: 600px;
    width: 100%;
    min-width: 500px;
    .control-btns {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      z-index: 9;
    }
    .zoom-btns {
      position: absolute;
      bottom: 10px;
      right: 10px;
      z-index: 9;
    }
    .control-togglers {
      position: absolute;
      bottom: 10px;
      left: 10px;
      display: flex;
      flex-direction: column;
      z-index: 9;
    }
    .edge-label {
      fill: var(--text-color);
    }
  }
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh !important;
  width: 100vw !important;
  z-index: 5;
  background-color: var(--card-bg);
  .control-btns {
    top: 70px !important;
    flex-direction: column;
  }
}
