<div *ngIf="percentage | async as pct">
  <progress [value]="pct" max="100"></progress>
  {{ pct | number }}%
</div>

<div *ngIf="snapshot | async as snap">
  <div>{{ snap.bytesTransferred }} of {{ snap.totalBytes }}</div>
  <div *ngIf="downloadURL as url">
    <h3>Results!</h3>
    <h3><a [href]="url" target="_blank" rel="noopener">Download Me!</a></h3>
    <img
      [src]="url"
      class="uploaded-image mb-2"
      onerror="this.style.display='none'"
    />
  </div>

  <button
    mat-flat-button
    color="accent"
    (click)="task.pause()"
    [disabled]="!isActive(snap)"
  >
    Pause
  </button>
  <button
    mat-flat-button
    (click)="task.resume()"
    color="accent"
    [disabled]="!(snap?.state === 'paused')"
  >
    Resume
  </button>
  <button
    mat-flat-button
    color="warn"
    (click)="task.cancel()"
    [disabled]="!isActive(snap)"
  >
    Cancel
  </button>
</div>
