.upload-page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 80vw;
    font-weight: 200;
    height: 300px;
    border: 2px dashed #f16624;
    border-radius: 5px;
    background: var(--nav-bg);
    margin: 10px 0;
    box-shadow: var(--toc-shadow);

    &.hovering {
      border: 2px solid #f16624;
      color: #dadada !important;
    }

    .file-label {
      font-size: 1.2em;
    }
  }

  progress::-webkit-progress-value {
    transition: width 0.1s ease;
  }
  padding-left: 80px;
}
